$menu-open-width: 280px;
$menu-close-width: 56px;
$top-menu-height: 56px;
$expand-transition: all .5s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
$paper-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),1px 0px 3px 0px rgba(0,0,0,0.14);
$breadcrumbs_height: 56px;
$row-height: 30px;

